*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
main{
    background-color: white;
    margin: 0 200px;
}
a {
    text-decoration: none;
     color: white;
}
.navigation{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
ul{
    list-style-type: circle;
}
nav{
    position: fixed;
    right: 207px;
    left: 207px;
    top: 0;
    background-color: gray;
    z-index: 2;
}
h1{
    display: flex;
    position: absolute;
    margin-top: -340px;
    margin-left: 400px;
    text-align: center;
    z-index: 1;
}
h2{
    color: white;
    background-color: grey;
    width: 100%;
}
.description{
    display: flex;
    position: absolute;
    margin-top: -290px;
    margin-left: 450px;
    text-align: center;
    z-index: 1;
}
.photo{
    display: block;
    margin-top: 85px;
    margin-left: 10px;
    width: 350px;
    height: 360px;
}
footer{
    background-color: grey;
    height: 120px;
}
.logo{
    position: absolute;
    right: 370px;
    width: 100px;
    height: 120px;
}
.github{
    position: absolute;
    right: 500px;
    width: 100px;
    height: 100px;
}
.year{
    position: absolute;
    right: 280px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}
